.contenedor {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
}

.boton {
    margin-top: 20px;
}

.label {
    text-align: start;
}