.topnav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links-start a {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background-color 1s ease;
}

.links-start a:hover {
    background-color: #575757;
}

.links-end a {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background-color 1s ease;
}

.links-end a:hover {
    background-color: #575757;
}